body{
    width: 80%;
    /* border: 1px solid gray; */
    margin: auto;
}
li{
    list-style: none;
}
nav{
    background-color: aqua;
}
.menu{
    font-size: 20px;
}
.menu:hover{
    color: white; 
     cursor: pointer;

}
.banner-container{
    width: 80%;
    height: 500px;
    margin: auto;
    padding: 30px;
}
.banner-left{
    margin-left: 30px;
}
.banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(rgb(5, 242, 242),rgb(3, 131, 131));
    box-shadow: 4px 4px 8px gray;
    border-radius: 10px;
}
.bn-img{
    /* width: 120%; */
    margin-top: -60px;
}
.service-container{
    width: 1200px;
    margin: auto;
}
.title{
    font-size: 44px;
    color: aqua;
    text-align: center;
    margin-top: 80px;
}

