{% extends "base.html" %} {% load crispy_forms_tags %}
<br />
{% block main %}

<form method="post" action="" style="width: 50%; margin: auto" novalidate>
  <!--novalidate means we have not use show vlidation message form django-->
  <h4>Login Page</h4>
  <!--{{form | crispy }}-->

  <!--
    {% if messages %} {% for m in messages %}
  <small {% if m.tags %} class="{{m.tags}}" {% endif %}>{{m}}</small>
  {% endfor %} {% endif %}
  -->
  {% if messages %} {% for m in messages %}
  <small class="bg-danger text-white p-2">{{m}}</small>
  {% endfor %} {% endif %}
  <br />
  {% csrf_token %} {% for fm in form%} {{fm.label_tag}} {{fm}}
  {{fm.errors|striptags}}
  <br />
  {% endfor %}

  <button class="btn btn-primary" type="submit">Submit</button>
</form>
{% endblock %}