{% extends "base.html" %} {% load crispy_forms_tags %} {% block main %}
{% if messages %} {% for m in messages %}
<!--<small {%if m.tags %} class="{{m.tags}}" {% endif %}>{{m}} </small> This tag use for conditional css and create class-->
<small class="bg-success p-3 text-white">{{m}} </small>

{% endfor %} {% endif %}

<form method="post" action="" style="width: 30%; margin: auto" novalidate>
  <!--novalidate means we have not use show vlidation message form django-->
  <!--{{form | crispy }}-->
  <!--Remove help text and show first label then box then error message and  striptags use for error message without bollen-->
  {% csrf_token %}

  {% for fm in form %} {{fm.label_tag }} {{fm}} {{fm.errors|striptags}}

  {% endfor %}
  <br>
  <button class="btn btn-primary" type="submit">Submit</button>
{% endblock %}