{% extends "base.html" %} {% load crispy_forms_tags %} {% block main %}
<br />
{% if messages %} {% for m in messages %}
<small class="bg-success p-3 text-white">{{m}}</small>
{% endfor %} {% endif %}
<br />

<form method="post" action="" style="width: 50%; margin: auto" novalidate>
  <!--{{form | crispy}}-->
  {% csrf_token %}
  <h4>Edit Profile</h4>
  <br />
  {% for fm in form %} {{fm.label_tag}} {{fm}} {{ fm.errors|striptags}}
  <br />
  {% endfor %}
  <br />
  <button class="btn btn-warning">Update</button>
</form>

{% endblock %}
