<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2>Hellow Phitron</h2>
    <div style="width: 50%; margin: auto">
      <div>
        <h6>Value Form</h6>
        {{val}}
        <br />
      </div>
      <div>
        <h6>Message Form</h6>
        {{form}}
        <br />
      </div>
      <div>
        <h6>Day Form</h6>
        {{day}}
        <br />
      </div>
      <div>
        <h6>Choices Form</h6>
        {{choice1}}
        <br />
      </div>
      <div>
        <h6>Radio Select Form</h6>
        {{choice2}}
        <br />
      </div>
      <div>
        <h6>Multiple Form</h6>
        {{choice3}}
        <br />
      </div>
      <div>
        <h6>Checkbox Form</h6>
        {{choice4}}
        <br />
      </div>
      <div>
        <h6>Model Choice Form</h6>
        {{choice5}}
        <br />
      </div>
      <div>
        <h6>Model Multiple Choice Form</h6>
        {{choice6}}
        <br />
      </div>
    </div>
  </body>
</html>
