{% extends "base.html" %} {% load crispy_forms_tags %} {% block main %}

<br />
{% if messages %} {% for m in messages %}
<!--<small {%if m.tags %} class="{{m.tags}}" {% endif %}>{{m}} </small> This tag use for conditional css and create class-->
<small class="bg-success p-3 text-white">{{m}} </small>

{% endfor %} {% endif %}

<form method="post" action="" style="width: 30%; margin: auto" novalidate>
  <!--{{form | crispy }}-->

  {% csrf_token %}
  <br />
  {% for fm in form %} {{fm.label_tag }} {{fm}} {{fm.errors|striptags}}

  <br />
  {% endfor %}
  <button class="btn btn-primary" type="submit">Submit</button>
</form>
{% endblock %}
